*.log
.DS_Store
Thumbs.db

.env
.env.*

/vendor
/node_modules

/public/build
/public/hot

/storage/*.key
/storage/logs
/storage/framework
/storage/app/public

/public/storage

/.idea
/.vscode

.phpunit.result.cache
.phpactor.json
